* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body{
    font-family: 'Spartan', sans-serif; 
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }
  .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    scroll-behavior: smooth;
  }

  /*Header*/

  .containerHeader{ 
    width: 85%;
    max-width: 850px;
    margin: 0 auto; 
}
.header {
    font-size: 1.2rem;
    line-height: 1.4em;
    background: #333;
    color: #fff;
    padding: 2rem 0;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header a {
    color: #fff;
    text-decoration: none;
}
.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logoHea{
    letter-spacing: 15px;
    font-size: 1.2em;
}
.menu-icon {
    display: none;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;

}

.navigation ul li a:hover {
    background: #4a4a4a;
}

  /*Header listo*/

  /* menu hamburguesa */


  .icono-menu{
    margin: 40px 50px;
    position: fixed;
    left: 560px;
    z-index: 10;
    width: 1px;
    height: 1px;
    display: none;
    align-items: center;
  }
  .icono-menu img{
    position: relative;
    vertical-align: top;
    width: 40px;
    height: 30px;
    cursor: pointer;
    margin-right: 40em;
  }
  .cont-menu{
    background-color: #000000;
    box-shadow: 3px 0 5px 3px rgb(105, 105, 105);
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
  }
  .cont-menu ul{
    padding: 100px 0 20px 0px;
    list-style: none;
  }
  .cont-menu ul li{
    color: #fff;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
  }
  .cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
  }
  /* clases para agregar al javascript */
  .active{
    transform: translate(600px);
  }
  .opacity{
    /* background-color: rgba(0,0,0,0.5); */
    transition: all .5s ease;
  }
  /* Menu hamburguesa termina */

  /*main*/
  .main {
    margin-top: 70px;
    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    transition: 5s;
    scroll-behavior: smooth;
  }
  .contenedor-textos{
    flex-basis: 60%;
    
    padding-right: 120px;
    overflow: hidden;
    color: #fff;
  }
  .titulo {
    font-size: 40px;
    color: #333333;
  }
  .subtitulo{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
    color: #757575;
  }
  .developerImg{
    width: 50%;
    animation: developerAnimate ease-in 1s infinite alternate;
    margin-right: 20px;
  }
  
  @keyframes developerAnimate{
    0%{
      transform: scale(1);
    }100%{
      transform: scale(1.04)
    }
  }
  /*Sobre Mi*/
  .sobre-mi {
    width: 100%;
    max-width: 950px;
    height: 100vh;
    display: flex;
    margin-top: 10em;
    margin: 0;
    z-index: 1000;
    flex-direction: column;
    scroll-behavior: smooth;
    letter-spacing: 2px;
  }
  .caja-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .caja-imagenes img{
    width: 9em;
    height: 9em;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out ;
    animation: developerAnimate ease-in 1s infinite alternate;
  }
  .texto-sobre-imagenes {
    color: #333333;
    align-items: center;
  }
  .mi-1{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .mi-2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 80px;
    font-size: 21px;
  }
  
  /*MIS TRABAJOS */

  .mis-trabajos {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .titulo-work{
    font-weight: 50;
    font-size: 20px;
    color: #757575;
    width: 30%;
    margin-left: 80px;
    height: 20px;
  }
  .hr-work {
    border: 0.5px solid rgba(189, 189, 189, 0.514);
    width: 25%;
    height: 1px;
  }
  .caja-trabajos{
    display: grid;
  }
  .grid-trabajos {
      display: grid; 
   
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      
      gap: 40px;
      height: 100%;
      width: 90%;
  }
  /*Contacto*/

  .contacto {
    display: flex;
    height: 50vh;
    width: 100%;
    margin-top: 15px;
  }
  .texto-contacto{
    flex-basis: 50%;
    height: 300px;
  }
  .titulo-contacto {
    font-size: 70px;
    color: #333333;
  }
  .subtitulo-contacto{
    color: #757575;
    font-size: 30px;
    width: 90%;
  }
  .redes-sociales {
    flex-basis: 50%;
    list-style: none;
    max-width: 400px;
    max-height: 200px;

  }
  .redes-sociales li a {
    display: flex;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
  }
  .redes-sociales img{
    margin: 0 15px 5px 0;
    max-width: 200px;
    max-height: 50px;
  }

  .ig{
    color: #ef0074;
  }

  .email-contacto{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 100px;
  }
  .email-contacto h3{
    color: #333333;
    font-size: 40px;
    font-weight: 5;
  }
  #mail{
    opacity: 0;
    width: 1px;
    height: 1px;
  }
  .formulario{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 50%;
    
  }
  .formulario input{
    margin-top: 10px;
    background-color: #fff;
    width: 90%;
    height: 70px;
    padding: 15px;
    border: 0.1px solid #6d6d6d;
    border-radius: 5px;
    vertical-align: middle;
  }
  .formulario textarea {
    border: 0.1px solid #6d6d6d;
    border-radius: 5px;
    margin-top: 10px;
    height: 85px;
    max-height: 250px;
    width: 450px;
    padding: 15px;
  }
  .buttonContacto{
    margin: 30px 0 0 0;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
    position: relative;
    transition: 1s;
  }
  .buttonContacto:hover{
    background: #3cf;
    cursor: pointer;
  }
  /*Footer*/
  .footer{
    background: #7575752a;
    height: 20vh;
    width: 100%;
    position: relative;;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  }
  .copyright {
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  /* Tablet responsiive */

  @media (max-width: 800px){
    html{
      overflow-x: hidden;
      width: 100%;
    }
    body{
      overflow-x: hidden;
    }
    /*header*/

    .menu-icon {
      display: block;
      cursor: pointer;
      padding: 0.5rem 1rem;
  }
  .navigation {
      width: 100%;
      margin-top: 1rem;
  }
  .navigation ul {
      display: none;
  }
  .navigation ul.show{
      display: block;
  }
  .navigation ul li{
      display: block;
  }
  .navigation ul li a {
      display: block;
      padding: 0.5rem 0;
  }
    /*Menu*/
    .main {
      display: flex;
    }
    .main img{
      align-items: flex-start;
    }
    .contenedor-textos{

      padding: 0;
      margin: 0;
      font-size: 10px;
    }
    .titulo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  /*sobre mi */
  .caja-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
    
  }
  .caja-imagenes img {
    width: 5.5em;
    height: 5.5em;
    margin-bottom: 0;
  }

  .mi-1{
    height: 20px;
  }
  .mi-2{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /*Trabajos*/
  .mis-trabajos {
    margin-top: 25vh;
  }
  .grid-trabajos {
    display: grid; 

    grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr;
  }
  /*Contacto*/
.contacto {
  margin-top: 25vh;
}
  /* movil responsive */
  }
  @media (max-width: 480px){
    .contenedor-icono{
      margin: 0;
      padding: 0;
      margin-right: 50px;
    }
    .header {
      display: flex;
      justify-content: center;
      width: auto;
    }
    .icono-menu img {
      position: absolute;
      display: flex;
      justify-content: center;
      z-index: 100000;
      margin-right: 400px;
    }
    /*Main*/
    .main {
      display: grid; 
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr; 
      
    }
    .contenedor-textos {
      margin-top: 150px;
    }
    .developerImg {
      padding: 0;
      margin-left: 50px;
      padding-top: 60px;
      width: 300px;
      height: auto;
    }
    .contenedor-textos{
      margin-left: 60px;
      padding: 0;
    }
    /*sobre mi*/
    .sobre-mi {
      padding-top: 200px;
    }
    .mi-1{
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .sobre-mi{
      margin-left: 20px;
    }
    .caja-imagenes {
      grid-template-columns: repeat(2, 1fr);
    }
    .caja-imagenes img{
      width: 5em;
      height: 5em;
    }
    /* Mis Trabajos*/
    .mis-trabajos {
      padding-top: 100vh;
      padding-bottom: 25vh;
    }
    .hr-work {
      padding: 0;
      margin: 0;
      width: 30px;
    }
    .titulo-work {
      padding: 0;
      margin: 0;
      display: flex;
      width: fit-content;
    }
    .caja-trabajos {
      max-width: 359px;
    }
    .imagen-trabajo img{
      width: 350px;
      height: 150px;
    }
    .grid-trabajos {
      display: grid; 

      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      
      gap: 20px;
      height: 100%;
    }
    /*Contacto*/
    .texto-contacto {
      margin: 0 0 30px 0;
      padding: 0;
      height: auto;
    }
    .titulo-contacto {
      font-size: 50px;
    }
    .contacto{
      padding-top: 100vh;
      display: grid; 
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr;  
    }
    .email-contacto{
      row-gap: 50px;
      padding-top: 200px;
    }
    .email-contacto h3{
      margin-top: 250px;
    }
    .formulario {
      display: grid; 
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      gap: 15px 16px; 
    }
    .formulario input {
      max-width: 345px;
    }
    .msgContacto{
     max-width: 345px; 
    }
    
  }